.col-md-3,.col-md-6,.col-md-12{
    margin: 0px!important;
    padding: 2px!important;
}
.operacion{
    background-color: #f9f9f9;
    height: 50px;
    padding: 10px;
    text-align: right;
}